<h1>Subscribe To Someone</h1>
<h1> test: <%= @user_name %></h1>
<%= form_for @conn, Routes.add_path(@conn, :addSub, user_name: @user_name), fn f -> %>

  <%= label f, :tofollow %>
  <%= text_input f, :tofollow %>
  <%= error_tag f, :tofollow %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
