<!-- <div class="phx-hero">
  <h2>Register</h2>
</div> -->

<div>
  <form>
  <!-- First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"> -->
  Username:<br>
  <input type="text" name="username">
  Password:<br>
  <input type="password" name="password1">
  Please Confirm Password:<br>
  <input type="password" name="password2">
  <input type="submit" value="Submit">
</form>
</div>
