<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Twitter" %></h1>
  <p>Please sign in or register</p>
</section>

<section class="row">
  <article class="column">
      <a href="<%= Routes.register_path(@conn, :index) %>">Register</a>
  </article>
  <article class="column">
      <a href="<%= Routes.signin_path(@conn, :index) %>">SignIn</a>
  </article>
</section>
