<!-- <div class="phx-hero">
  <h2>SignIn</h2>
</div> -->
<%= form_for @conn, Routes.signin_path(@conn, :signin), fn f -> %>
   <div class="form-group">
     <label>User Name:<%= text_input f, :username, class: "control-label" %></label>
     <label>Password:<%= password_input f, :password1, class: "form-control" %></label>

   </div>
   <%= submit "Submit", class: "btn btn-primary" %>
<% end %>
